[project]
	description = Kubernetes Kit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kubekit99
[access "refs/for/refs/*"]
	read = group user/kubekit99
	push = group user/kubekit99
	label-Code-Review = -2..+2 group user/kubekit99
	label-Verified = -1..+1 group user/kubekit99
	rebase = group user/kubekit99
	removeReviewer = group user/kubekit99
	submit = group user/kubekit99
[access "refs/heads/*"]
	read = group user/kubekit99
	create = group user/kubekit99
	push = +force group user/kubekit99
	pushMerge = group user/kubekit99
[access "refs/tags/*"]
	push = group user/kubekit99
	push = +force group user/kubekit99
